Django==5.0.7
gunicorn==23.0.0
python-dotenv==1.1.0
django-crispy-forms==2.3
sqlparse==0.5.1
email_validator==2.2.0
requests==2.32.3
numpy==1.26.4 --only-binary=:all:
pandas==2.2.2
Pillow==10.4.0
opencv-python-headless==4.10.0.84
matplotlib==3.9.2
scikit-learn==1.6.1
seaborn==0.13.2
tqdm==4.66.5
joblib==1.4.2
regex==2024.11.6
easyocr==1.7.2
pytesseract==0.3.13
python-bidi==0.6.6
transformers==4.53.1
sentencepiece==0.2.0
huggingface-hub==0.33.2
nltk==3.9.1
google-api-python-client==2.174.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
openai-clip==1.0.1
gTTS==2.5.1
Flask==3.0.3
Flask-Cors==5.0.0
asgiref==3.8.1
httpx==0.28.1
uvicorn==0.30.1
